/* Navbar */
.site-nav {
  /* border-bottom: 3px solid #0072ff; */
  /* border-top: 3px solid #0072ff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0021f4;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
}

.site-nav .nav-left {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.site-nav .nav-right a {
  margin-left: 24px;
  text-decoration: none;
  color: white;
  transition: color 0.2s;
}

.site-nav .nav-right a:hover {
  color: #0072ff;
}
/* ===== Footer ===== */
.site-footer {
  text-align: center;
  font-size: 14px;
  padding: 28px 0;
  background: #0021f4;
  color: var(--gray-300);
  margin-top: auto;
  height: 4rem;
} 